---
// COMPONENTS

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Sitemapper from 'sitemapper';

// METADATA VARIABLES

let metaTitle = 'Fireflame « HTML Sitemap';
let title = 'HTML Sitemap';
let description = '';

const sitemap = new Sitemapper();

const sitemapURLs = await sitemap.fetch('https://www.firefla.me/sitemap.xml');

---
<html lang="en">
  <head>
    <BaseHead title={metaTitle} description={description} />
</head>

<Header title={title} />
<body>
  <main>
          <ul>
      {sitemapURLs.sites.map(( url ) => (
                  <li class="post-preview wiki-listing post-list">
                    <a href={url}>{url}</a>
                  </li>
                ))}
    </ul>
  </main>
</body>
<Footer></Footer>
</html>