---
// COMPONENTS

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SearchIndex from '../components/SearchIndex.astro';

// METADATA VARIABLES

let metaTitle = 'HTML Sitemap';
let description = '';

const allPages = await Astro.glob('./*.astro');

---
<html lang="en">
  <head>
    <BaseHead {metaTitle} description={description} />
</head>

<Header {metaTitle} />
<body>
  <main>
  <h2>Main pages</h2>
          <ul>
          <li><a href="/">/</a></li>
      {allPages.map(( url ) => (
        url.url.length > 0 ?
          <li><a href={url.url}>{url.url}</a></li>
          : ""
                ))}
    </ul>
    <h2>Search tag pages</h2>
    <div style="columns:2;column-gap:3rem;">
      <SearchIndex />
    </div>
  </main>
</body>
<Footer></Footer>
</html>