---
// COMPONENTS

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import culture from '../data/culture.json';
import music from '../data/music.json';
import sports from '../data/sports.json';
import tech from '../data/tech.json';
import Sitemapper from 'sitemapper';

// METADATA VARIABLES

let metaTitle = 'Fireflame « A fire site of cool links!';
let title = 'Fireflame';
let description = 'A fire site of cool links!';
let canonicalURL = Astro.canonicalURL.href

const sitemap = new Sitemapper();

const sitemapURLs = await sitemap.fetch('https://www.firefla.me/sitemap.xml');

---
<html lang="en">
  <head>
    <BaseHead title={metaTitle} description={description} canonicalURL={canonicalURL} />
</head>

<Header title={title} />
<body>
  <main>
          <ul>
      {sitemapURLs.sites.map(( url ) => (
                  <li class="post-preview wiki-listing post-list">
                    <a href={url}>{url}</a>
                  </li>
                ))}
    </ul>
  </main>
</body>
<Footer></Footer>
</html>