---
// COMPONENTS

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import culture from '../data/culture.json'
import music from '../data/music.json'
import sports from '../data/sports.json'
import tech from '../data/tech.json'

// METADATA VARIABLES

let metaTitle = 'Fireflame « A fire site of cool links!';
let title = 'Fireflame';
let description = 'A fire site of cool links!';



---
<html lang="en">
  <head>
    <BaseHead title={metaTitle} description={description} />
</head>

<Header title={title} />
<body>
	<main>
		<h2>Culture</h2>
<ul class="cat-links">
	{culture.map((item) => (
              <li class="post-preview post-listing post-list">
            <a href={item.link}><Fragment set:html={item.title}></a> &mdash; {item.desc}
          </li>
             ))}
</ul>

<h2>Music</h2>
<ul class="cat-links">
	{music.map((item) => (
              <li class="post-preview post-listing post-list">
            <a href={item.link}><Fragment set:html={item.title}></a> &mdash; {item.desc}
          </li>
             ))}
</ul>

<h2>Sports</h2>
<ul class="cat-links">
	{sports.map((item) => (
              <li class="post-preview post-listing post-list">
            <a href={item.link}><Fragment set:html={item.title}></a> &mdash; {item.desc}
          </li>
             ))}
</ul>

<h2>Technology</h2>
<ul class="cat-links">
	{tech.map((item) => (
              <li class="post-preview post-listing post-list">
            <a href={item.link}><Fragment set:html={item.title}></a> &mdash; {item.desc}
          </li>
             ))}
</ul>
	</main>
</body>
<Footer></Footer>
</html>